<% if (title) { %>
    <h1><%= title %></h1>
<% } %>

<% if (message && message.length > 0) { %>
    <div class="flash-message">
        <p><%= message %></p>
    </div>
<% } %>

<ul>
  <li><a href="/inv/classification/add" class="inventory-link">Add New Classification</a></li>
  <li><a href="/inv/item/add" class="inventory-link">Add New Inventory Item</a></li>
</ul>
